::-webkit-scrollbar {
    width: 4px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: grey;
  }
  
 .left{
     width:70%;
     display: inline-flex;
 }

 .right{
    padding-top: 20px;
    width: 25%;
    float: right;
    padding-right: 20px;
 }
 .gridListUpcomingMovies > GridListTileBar {
   height: unset;
 }
 .applyButton{
   display: grid;
 }

/* 
 @media (max-width: 992px) {
    .flex-container {
        flex-direction: column;
    }
    .left {
        width: 100%;
    }
    .right {
        width: 90%;
    }
    .gridListReleasedMovies {
        margin: 8px;
    }
} */
